@model Information.Models.LogRecord
@using Information.Helpers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LogRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>

        <dd>
            @WebSiteHelper.GetUserNameById(Model.MemberId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoutTime)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
